.menu {
    background: #006ACB;
}

.nav-link {
    color: #C1E4FF;
}

.nav-link:hover{
    color: #FFF;
}

.banner {
    margin-top: 130px !important;
}

.banner img {
    width: 100% !important;
    height: 230px !important;
}

.active {
    color: #FFF;
}